.cookies-modal-form {
  max-width: 100%;
  position: relative;
  padding: clamp(1em, 4vmin, 3.75em);
}

.cookies-modal-form::before {
  content: '';
  display: block;
  position: absolute;
  top: -24px;
  left: -24px;
  width: 71.813285458%;
  min-height: 65.229110512%;
  background-color: var(--dark-blue);
  border-radius: clamp(1em, 7vmin, 5em);
  z-index: -2;
}

.cookies-form__privacy {
  margin-bottom: 40px;
}

.cookies-form__privacy__heading,
.cookies-form__privacy__info {
  color: var(--dark-blue);
  margin-bottom: 16px;
}

.cookies-form__privacy__heading {
  font-size: var(--text-3);
  font-weight: var(--font-weight-600);
}

.cookies-form__privacy__info {
  font-size: var(--text-1);
  font-weight: var(--font-weight-400);
  text-align: justify;
}

button.cookies-form__privacy__allow-all {
  display: block;
}

.manage-consent-preferences {
}

.manage-consent-preferences__heading {
  font-size: var(--text-2);
  font-weight: var(--font-weight-600);
  margin-bottom: 16px;
}

.consent-preferences {
  margin-bottom: 16px;
}

.manage-consent-preferences-reject-or-submit {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (min-width: 424px) {
  .cookies-modal-form::before {
    top: -32px;
    left: -32px;
  }
}

@media screen and (min-width: 520px) {
  .cookies-modal-form::before {
    top: -40px;
    left: -40px;
  }
}

@media screen and (min-width: 664px) {
  .cookies-modal-form {
    padding: 3.75em;
  }

  .cookies-modal-form::before {
    top: -85px;
    left: -85px;
  }
}
